// Mixins in here

.btn-design(@width, @height, @padding, @border-radius, @font-size){
background-color: @button-bg;
color: @white;
width:@width;
height:@height;
padding:@padding;
border-radius: @border-radius;
font-size:@font-size;
}
