// Navigation Styles here

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0 2% 0;
    border: 2px solid red;
.links{
    border: 2px solid red;
    
}//closes links
a {
    
}//closes a
}//closes header

.header-container{
    border-bottom: 2px dashed @navigation-border;
}